<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>ASCII Art Application</display-name>

    <description>
        A web application that generates ASCII art from input text.
    </description>

    <!-- Déclaration de la servlet AsciiArtServlet -->
    <servlet>
        <servlet-name>AsciiArtServlet</servlet-name>
        <servlet-class>com.example.AsciiArtServlet</servlet-class> <!-- Remplacer par le bon package -->
    </servlet>

    <!-- Mappage de la servlet AsciiArtServlet -->
    <servlet-mapping>
        <servlet-name>AsciiArtServlet</servlet-name>
        <url-pattern>/AsciiArt</url-pattern> <!-- L'URL que tu as définie dans ton formulaire -->
    </servlet-mapping>

</web-app>
